#ftb-template {
  position: relative;
  margin: auto;
  text-align: center;
  line-height: 2em;
  width: 80%;
  margin-top: 2%;
  display: grid;
  height: 90vh;
}

.qs-ftb-container {
  margin: auto;
  text-align: center;
}

.qs-ftb-content {
  line-height: 3;
}

.qs-ftb-question {
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.qs-ftb-question p{
  float:right;
  width:100%;
}

.qs-ftb-question .ftb-question-image img{
  max-width:100%;
  width:100%;
}

img.qc-question-fullimage {
  width: 83%;
  height: 100%;
  float:left;
}

.qc-popup-close-button {
  position: absolute;
  right: -35px;
  color: white;
  bottom: 87%;
}

.ftb-question-image {
  float:left;
  width:9vw;
  height: 9vw;
  margin-bottom:5vh;
}

.ftb-question-audio {
  float:right;
  width:9vw;
  height: 9vw;
  margin-bottom:5vh;
}

.ftb-question-audio img{
  max-width: 100%;
  width:100%;
}

.align-question {
  margin: 33px 0px 0px 2px;
  height: 25vh;
  overflow-y: auto;
}

input#answer {
  text-align: center;
  font-size: 100%;
  width: 100%;
}

input.ans-field {
  border: 2px solid #ececec;
  display: inline;
  text-align: center;
}

input.ans-field.highlightInput {
  border: 1px solid blue;
}

@media (min-width:801px) {
  .qs-ftb-container {
    margin-top: 20%;
  }
}