#ftb-template {
  position: relative;
  margin: auto;
  text-align: center;
  line-height: 2em;
  width: 80%;
  margin-top: 2%;
  display: grid;
  height: 90vh;
}

.qs-ftb-container {
  margin: auto;
  margin-top:10vh;
}

.qs-ftb-content {
  line-height: 3;
}

.qs-ftb-question {
  font-size: 16px;
  width: 100%;
}

.qs-ftb-question .ftb-question-image img{
  height:100%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
#image-model-popup .popup-overlay{
  opacity:0.8;
}
#image-model-popup .popup-full-body{
  width:auto;
  margin:auto;
}

#image-model-popup .assess-popup {
  position: relative;
  width:fit-content;
  top:0;
  left:0; 
  margin:auto;
}

#image-model-popup img.qc-question-fullimage {
  max-width: 60vw;
  max-height: 100%;
}

#image-model-popup .qc-popup-close-button {
  position: absolute;
  right: -15px;
  top: -20px;
  color: white;
  font-size:20px;
}

.ftb-question-image {
  float:left;
  height:17vw;
  margin-right:10px;
}

.ftb-question-audio {
  width:5vw;
  height: 5vw;
  float:left;
  margin-right: 10px;
  line-height: 4;
}

.ftb-question-audio img{
  max-width: 100%;
  width:100%;
}

.ftb-question-text {
  text-align:left;
}

.align-question {
  margin: 33px 0px 0px 2px;
  height: 25vh;
  overflow-y: auto;
}

input#answer {
  text-align: center;
  font-size: 100%;
  width: 100%;
}

input.ans-field {
  border: 2px solid #f1f1f1;
  background-color: #f1f1f1;
  display: inline;
  text-align: center;
  margin:0px 4px;
  border-radius: 4px;
}

input.ans-field.highlightInput {
  border: 1px solid blue;
}

@media (min-width:801px) {
  .qs-ftb-container {
    margin-top: 20%;
  }
}